* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



:root {
    --main-black: #212121;
    --main-grey: #757575;
    --main-blue: #2196F3;
    --main-white: #FFFFFF;
    --second-black: #000000;
    --border-color: #ECECEC;
    --background-color-icon: #F5F4FA;
    --icon-fill-color: #afb1b8;

}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Header - Main - index */

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px;
    border-color: var(--border-color);
}

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    padding-top: 24px;
    padding-bottom: 25px;
    gap: 93px;
}

.web-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--main-blue);
}

.web-logo1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--second-black);
}

.index-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 46px;
    
}

.menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--main-grey);
}

.kontakt-index {
    gap: 50px;
    margin-left: 330px;
    color: var(--main-grey);

}

.menu-icon {
    fill: currentColor;
    margin-right: 10px;
}

.link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-black);
}



.link:hover, .menu:hover, .menu-icon:hover {
    color: var(--main-blue);
}

.active-site {
    background: #2196F3;
    border-radius: 2px;
    position: relative;
    top: 30px;
}

.active-site::after {
    content: "";
    display: block;
    width: 53px;
    height: 4px;
    background-color: blue;
    visibility: hidden;
    
}


.menu-kontakt-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--main-grey);
    }


.menu-kontakt-link:hover,
.menu-kontakt-link:focus {
    color: var(--main-blue);
}



/* MainSection - Poster - Button */

.poster-mid {
    height: 600px;
    margin: 0;
    text-align: center;
    padding: 200px 0;
    background-size: cover;
    background-image: url(/goit-markup-hw-04/zdjęcia/Zajęcia/header.jpg);
    box-shadow: 200px 200px 400px 200px rgba(47, 48, 58, 0.39) inset;
}

.solutions-letter {
    margin: 0 auto;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    color: var(--main-white);
    
}

.button-service {
    background: #2196F3;
    color: var(--main-white);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    width: 200px;
    border: none;
    margin-top: 30px;
}

.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}

.modal {
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    width: 528px;
    height: 581px;
}

.modal-close {
    position: relative;
    margin: 8px 8px 543px 490px;
    background-color: var(--main-white);
    cursor: pointer;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 2em;
    height: 2em;
}

.backdrop {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}



/* MainSection - LoremIpsum - Icons */

.empty-slot {
    padding-top: 94px;
}

.lorem-main {
    display: flex;
    margin: 0 30px 94px 0;
}

.box-lorem {
    width: 270px;
    height: 120px;
    background-color: var(--background-color-icon);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-lorem-index {
    margin-right: 30px;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
}

.h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-black);
    padding-top: 30px;
}

.lorem-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--main-grey);
    width: 270px;
    padding-top: 10px;
}

/* MainSection - What We Do - Photo */ 

.h2-what-we-do {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--main-black);
    display: flex;
    justify-content: center;
    padding-top: 94px;
}

.photo-what-we-do-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 94px;
}

.frame-what-we-do-description {
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.what-we-do-description {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-block: 251px 27px;
    color: var(--main-white);
}

.what-we-do-1 {
    background-image: url(/goit-markup-hw-05/zdjęcia/Zajęcia/pisanie_na_klawiaturze.jpg);
    width: 370px;
    height: 294px;
    box-shadow: 0px -70px 0px 0px rgba(47, 48, 58, 0.8) inset;
}

.what-we-do-2 {
    background-image:url(/goit-markup-hw-05/zdjęcia/Zajęcia/trzymanie_telefonu.jpg);
    width: 370px;
    height: 294px;
    box-shadow: 0px -70px 0px 0px rgba(47, 48, 58, 0.8) inset;
}

.what-we-do-3 {
    background-image: url(/goit-markup-hw-05/zdjęcia/Zajęcia/trzymanie_tabletu.jpg);
    width: 370px;
    height: 294px;
    box-shadow: 0px -70px 0px 0px rgba(47, 48, 58, 0.8) inset;
}

/* MainSection - Our Team - Photo - Description - Links */ 

.our-team-background {
    background: #F5F4FA;
}

.h2-our-team-index {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--main-black);
    display: flex;
    justify-content: center;
    padding-top: 94px;
}

.our-team-photo-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 94px;
}

.our-team-frame-index {
    width: 270px;
    height: 428px;
    left: 215px;
    top: 1635px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.our-team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--main-black);
    text-align: center;
    padding-block: 30px 10px;
}

.our-team-jobs-index {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: var(--main-grey);
    text-align: center;
    padding-bottom: 16px;
}

.ul-our-team {
    display: flex;
    align-items: space-evenly;
    justify-content: center;
}

.list-social {
    margin-right: 10px;
    margin-bottom: 30px;
    height: 44px;
    color: #afb1b8;
    fill: currentColor;
}

.icon-social-team {
    fill: var(--main-grey);
}

.icon-social-team:hover {
    border-radius: 50%;
    cursor: pointer;
    background: var(--main-blue);
    fill: var(--main-white);
}

/* MainSection - Our Customers - Icon */


.h2-our-customers {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--main-black);
    display: flex;
    justify-content: center;
    padding-top: 94px;
}

.our-customers-list {
    display: flex;
    list-style: none;
    display: flex;
    justify-content: space-around;

}

.our-customers-frame {
    width: 170px;
    height: 92px;
    border: 1px solid currentColor;
    color: #afb1b8;
    fill: currentColor;
    border-radius: 4px;
    margin-right: 30px;
    margin-block: 50px 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


.our-customers-frame:hover {
    border-color: var(--main-blue);
    fill: var(--main-blue);
}


.icon-customers:hover {
    cursor: pointer;
    fill: var(--main-blue);
}






/* FooterSection - Logo - Adress - Icon */ 

footer {
    height: 252px;
    left: 0px;
    top: 2097px;
    background: #2F303A;
}

.footer-wrap {
    display: flex;
    padding-top: 60px;
    align-items: flex-start;
}

.footer-logo {
    display: inline-block;
    margin-right: 70px;
}

.web-logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--main-blue);
}

.web-logo-footer-2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--main-white);
}

.footer-adress {
    padding-top: 20px;
}

.footer-link {
    padding-block: 9px;
}

.link-footer {
    color: #FFFFFF;
}

.link-footer:hover {
    color: var(--main-blue);
}

.mail-tel-footer {
    color: rgba(255, 255, 255, 0.6);
}

.mail-tel-footer:hover {
    color: var(--main-blue);
}

.h4-footer {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.ul-footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-footer {
    margin-right: 10px;
    width: 44px;
    height: 44px;
}

.icon-social-fotter:hover {
    background: var(--main-blue);
    border-radius: 50%;
    cursor: pointer;
}